
#assetsManager{
    position: absolute;
    bottom:0;
    width: 50vw;
    height: 145px;
    background: rgba(223, 223, 223, 0.856);
    right:0;
    z-index: 10;
}

#assetsManager .category-name{
    padding: 5px;
    width:100px;
    background: orange;
    color:white;
    float: left;
    cursor: pointer;
    text-align: center;
    border:1px solid rgba(255, 255, 255, 0);
    border-top:none;
    border-bottom: none;
     
}
#assetsManager .category-name:hover{
    background: white;
    color:orange;
}

#assetsManager #categories-items{
    padding:10px;
    overflow-y: hidden;
    overflow-x: scroll;
    min-height: 120px;
}

#assetsManager #categories-items .item{
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(240, 240, 240, 0.856);
}

#assetsManager #categories-items .item:hover{
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(22, 112, 214, 0.856);
}


