#overlay {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.hud * {
    position: absolute;
    --hud-vOffset: 4px;
}

/* HELP */

.help {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    /* height: 500px; */
    padding: 10px;
    background: rgba(192, 255, 0, 0.5);
    display: none;
}

.help * {
    position: relative;
}

.help .container * {
    /* float: left */
}

.help h4 {}

.help .tile {
    display: block;
    width: 100%;
    height: fit-content;
    float: left;
    overflow: hidden;
    border: 1px solid black;
    border-bottom: none;
    padding: 5px
}

.help .tile:first-child {
    margin-top: 5px;
    border-radius: 10px 10px 0 0;
}

.help .tile:last-child {
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid black;
}

/* SELECT */

.hud .select {
    left: 0;
    bottom: 0;
}

/* SHOP */

.hud .shop, .hud .gold {
    --hud-shopBackground: yellow;
    --hud-shopPadding: 10px;
    --hud-shopHeight: 80px;
    /* left: 0; */
    /* bottom: calc(var(--hud-shopHeight) + var(--hud-vOffset) + 2 * var(--hud-shopPadding)); */
}

/* TUTAJ ZMIEŃ */

.hud .gold {
    position: absolute;
    background: #ddc80a;
    color:white;
    font-weight: 800;
    width:120px;
    text-align: center;
    font-family: 30px;

    /* height: calc(var(--hud-shopHeight) + 2 * var(--hud-shopPadding)); */
    padding: var(--hud-shopPadding);
    overflow: hidden;
    left: 0;
    bottom: 0;
    z-index: 1;
    /* bottom: calc((var(--hud-shopHeight) + var(--hud-vOffset) + 2 * var(--hud-shopPadding))); */
    /* bottom: var(--hud-vOffset); */
}

/* ZMIEŃ POWYŻEJ */

.hud .shop .container {
    position: fixed;
    left: 0;
    /* bottom: calc((var(--hud-shopHeight) + var(--hud-vOffset) + 2 * var(--hud-shopPadding))); */
    bottom: var(--hud-vOffset);
    background: var(--hud-shopBackground);
    height: calc(var(--hud-shopHeight) + 2 * var(--hud-shopPadding));
    padding: var(--hud-shopPadding);
    /* overflow: hidden; */
}

.hud .shop .container .tile {
    position: relative;
    /* display: inline-block; */
    float: left;
    width: var(--hud-shopHeight);
    height: var(--hud-shopHeight);
}

.hud .shop .container .tile img {
    width: var(--hud-shopHeight);
    height: var(--hud-shopHeight);
}

.hud .shop .container .tile .name {
    top: 2px;
    left: 2px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
}

.hud .shop .container .tile .cost {
    position: absolute;
    bottom: 2px;
    right: 2px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
}

/* .hud .shop .gold { */

/* position: fixed; */

/* background: #cccccc; */

/* height: calc(var(--hud-shopHeight) + 2 * var(--hud-shopPadding)); */

/* padding: var(--hud-shopPadding); */

/* overflow: hidden; */

/* left: 0; */

/* bottom: calc((var(--hud-shopHeight) + var(--hud-vOffset) + 2 * var(--hud-shopPadding))); */

/* } */

/* INFO */

.hud .info {
    right: 0;
    top: 0;
}

/* HELP */

.hud .help {
    left: 0;
    top: 0;
}