
.terrainEditor{
    position: fixed;
    top:0;
    width:200px;
    padding:10px;
    background: rgba(250, 245, 245, 0.863);
    z-index: 10;
}

#start-terrainEditor{
    color:red;
    position: fixed;
    bottom:0;
    right:0;
    z-index: 20;
    padding:5px;
    
}