* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#lvl-settings {
    width: 150px;
    height: 100%;
    background: gray;
    float: left;
}

#lvl-settings>button, #lvl-settings>select, #lvl-settings>input, .lvl-label {
    padding: 5px;
    display: block;
    margin: 10px auto;
    width: 100px;
    cursor: pointer;
    outline: none;
}

#lvl-settings>button.active {
    border: 2px solid blue;
}

#lvl-settings #lvl-save {
    background: blue;
    border-color: blue;
    color: white;
}

#lvl-settings #lvl-load {
    background: orange;
    border-color: orange;
    color: white;
}

#lvl-code {
    width: 300px;
    height: 100%;
    float: left;
    color: white;
    background: rgb(190, 190, 190);
    font-size: 14px;
    padding: 10px;
}

#lvl-edit-pool {
    position: relative;
    width: calc(100% - 450px);
    height: 100%;
    float: left;
    border: 15px solid white;
}

#lvl-edit-pool .hex {
    user-select: none;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('/hex.png');
    background-size: 50px 50px;
    cursor: pointer;
}

#lvl-edit-pool .hex .content {
    color: white;
    text-align: center;
    background-image: url('/arrow.png');
    padding-top: 15px;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
}

#lvls {
    visibility: hidden;
}

#start-game {
    font-weight: 800;
    background: rgb(31, 102, 233);
    color: white;
    border-color: rgb(31, 104, 241);
}